/* Main Container */
.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 12px;
  }